.carousel-container { 
    background: var( --nav-link-hover);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    padding: 0;
    
    
}

.carousel-item {
    height: 20rem;;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

html, body {
  overflow-x: hidden;
}