.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 650px;
  user-select: none;
}

.title {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    color: var(--text-color);
    padding: 40px;
    font-size: 75px;
    filter: drop-shadow(0px 0px 5px #000000);
   
}

.cardOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 12px;
    width: 100vw;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0));

}

.slide {
  width: 100vw;
  height: 100%;
}
.slide-image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;              
  width: 10rem;           
  display: flex;
  align-items: center;    
  justify-content: center;
  cursor: pointer;
  background: transparent;
  margin: none;
}

.arrow-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0; 
  color: rgb(59, 59, 59);           
  box-shadow: 0 0 6px #000;
  
}

.arrow:hover {
  cursor: pointer;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.426) 1%, rgba(0,0,0,0) 20%);
  transition: background 1s ease;
}

.arrow-left {
  left: 0rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.indicator {
  background-color: rgb(59, 59, 59);
  height: 10px;   
  width: 10px;    
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0 0 3px #000000;
  margin: 0 0.15rem;
  cursor: pointer;
  padding: 0;
  display: inline-block;
}

.indicator-inactive {
  background-color: grey;
}
