.Searchbar {
    background-color: var(--nav-bg);
    border-radius: 10px;
    box-shadow: 0px 8px 8px hsla(0, 0%, 0%, 0.1);
    padding: 0px 15px;
    height: 2.5rem;
    width: 700px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 10 rem;
    margin: 5px;
}
.input:focus {
    outline: none;
}
