.EventCard { 
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 0px;
    height: 200px;
    width: 440px;
    margin: 0px;
    text-align: left;
    display: inline-block;
    position: relative; 
    overflow: hidden; 
    outline: 0;
}

.EventCard:hover {
    border-color: #d7d7d7;
}


.cardImage {
   width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cardOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 12px;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0));

}

.cardTitle {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    color: var(--text-color)
    
}