.section__padding{
  padding: 1rem 0rem;
}

.footer{
   background-color: var(--footer-bg);
  color: var(--footer-text);
  transition: background-color 0.25s ease, color 0.25s ease;
  
}

.sb__footer{
  display: flex;
  flex-direction: column;
}


.socialmedia{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socialmedia{
  width: 100%;
}

hr{
  color: rgb(210, 210, 210) !important;
  width: 100%;
  transition: color 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}


.socialmedia img {
 width: 24px;
  height: 24px;
  margin-right: 30px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  filter: brightness(0);
  filter: brightness(0) invert(1) contrast(1.2);
  align-items: center;
  display: flex;
}



.socialmedia {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

html, body {
  overflow-x: hidden;
}