
:root {
  --bg-color: #242424;
  --text-color: #ffffff;
  --nav-bg: #1a1a1a;
  --nav-link: #ffffff;
  --nav-link-hover: #444444;
  --footer-bg: #000000;
  --footer-text: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: var(--text-color);
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex: 1;
}



